<div class="block">
    <ul>
        <%for(var i=0;i<ejs.length;i++){var item=ejs[i];%>
        <li><a href="/<%=item%>"><%=item%>.ejs</a></li>
        <%}%>
    </ul>
</div>

<div class="block">
    <ul>
        <%for(var i=0;i<html.length;i++){var item=html[i];%>
        <li><a href="/<%=item%>"><%=item%></a></li>
        <%}%>
    </ul>
</div>