<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
    .block li{float: left;min-width: 40%;margin-right: 30px;list-style: decimal inside;}
    .block a{
        color: #333;
        text-decoration: none;
    }
    .red li{color: blue;}
    .red a{color: blue;}
    .fr{float: right;}
</style>
</head>
<body>
<div style="margin: 0 auto;text-align: center;">
    <input type="text" id="info" value="" placeholder="输入查询内容">
    <input type="button" value="查询" id="search">
</div>
<div class="block red" id="show">
    <ul></ul>
</div>
<div class="block" id="app">
    <ul>
        <%for(var i=0;i<obj.length;i++){var item=obj[i];%>
        <li><a href="nye/<%=item.tid%>.html"><%=item.title%></a><span class="fr"><%=item.time%></span></li>
        <%}%>
    </ul>
</div>
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script>

    //enter查询
    $("#info").on("keydown",function(e){
        if(e.keyCode==13){
            $("#search").trigger("click")
        }
    })
    //点击查询按钮
    $("#search").on("click",function(){
        var info=$("#info").val()
        $("#app li").each(function(){
            var url=$("a",this).attr("href")
            search(url,info,this)
        })
    })
    //遍历所有的页面，找出符合条件的
    var cache={}
    function search(url,info,ele){
        if(!cache[url]){
            $.get(url,function(html){
                cache[url]=html
                search(url,info,ele)
            })
        }else{
            if(cache[url].indexOf(info)>-1){
                $("#show ul").append($(ele))
            }
        }
    }
</script>
</html>